{% extends 'base.html' %}
{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Location</h1>
<input id = "autocomplete" placeholder = "Enter a place" type = "text"/>
<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
            {
                types:['establishment'],
                componentRestrictions: {'country':['AU']},
                fields: ['place_id','geometry','name']
            }
        )
    }
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiTMjB6N6RQXoyTYTij56Ix2oG1mcjU7A&loading=async&libraries=places&callback=initAutocomplete">
</script>
{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>
{% endblock %}