{% extends 'base.html' %}
{% block content %}


<h1>Hi {{user}}, welcome to your PostCards Library</h1>
    <ul class="cards">
   
        {% for postcard in postcards %}
        <li class="cards__item">
            <div class="card">
               
                <img class="responsive-img card-panel fixed-height-img" src="{{postcard.photo_set.first.url}}">
             
                <div class="card__content">
                    <div class="card__title">{{ postcard.title }}</div>
                    <p class="card__text">{{ postcard.content|truncatechars:150 }}</p>
                   
                    <a href="{% url 'detail' postcard.id %}" class="btn btn--block card__btn">View Details</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<style>
    .fixed-height-img {
        height: 200px; /* Adjust the height as needed */
        object-fit: cover; /* Ensure the image covers the specified height */
    }
</style>

{% endblock %}


