{% extends 'base.html' %}
{% block content %}


    <h1>Postcards List</h1>
    <ul class="cards">
   
        {% for postcard in postcards %}
        <li class="cards__item">
            <div class="card">
               

                <div class="card__image card__image--fence" style="background-image: url('{{ postcard.image_url }}');"></div>
                <div class="card__content">
                    <div class="card__title">{{ postcard.title }}</div>
                    <p class="card__text">{{ postcard.content|truncatechars:150 }}</p>
                   
                    <a href="{% url 'detail' postcard.id %}" class="btn btn--block card__btn">View Details</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


