{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wonderlust</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiOrsJHFmIrXJk9SEsx4d2Ts6Q_ibncu8"
      async
      defer
    ></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Wonderlust</a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}

            <li><a href="/about">About</a></li>
            <li><a href="{% url 'locations_create' %}">Add a Location</a></li>
            <li><a href="{% url 'location_index' %}">View All Locations</a></li>
            <li><a href="{% url 'postcards_create' %}">Add a PostCard</a></li>


            <li><a href="{% url 'index' %}">View All My PostCards</a></li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn">logout</button>
              </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">signup</a></li>
            <li><a href="/about">About!</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2024 Wonderlust &nbsp;
      </div>
    </footer>
  </body>
</html>
