<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <!-- Load the Google Maps API asynchronously -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiOrsJHFmIrXJk9SEsx4d2Ts6Q_ibncu8&callback=initMap"
      async
      defer
    ></script>
  </head>
  <body>
    <div id="map" style="height: 400px"></div>
    <script type="text/javascript">
      let map;

      function initMap() {
        const myLatLng = { lat: -25.363, lng: 131.044 }
        let array ={{ locations | safe }}
        console.log(array[1])
      }


        // var positions = l.map(location=>{
        //     return {lat:location.lati,lng:location.longi}
        // })
        // console.log(positions)

        // var firstLocation = positions[0]

        // map = new google.maps.Map(document.getElementById("map"), {
        //   center: { lat: myLatLng.lat, lng: myLatLng.lng },
        //   zoom: 4,
        // });
        // positions.forEach(position => {
        //     new google.maps.Marker({
        //       position: position,
        //       map,
        //       title: "Marker"
        //     });
        //   });
        // }
    </script>
  </body>
</html>
