{% extends 'base.html' %}
{% block content %}



  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <!-- Load the Google Maps API asynchronously -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiOrsJHFmIrXJk9SEsx4d2Ts6Q_ibncu8&callback=initMap"
      async
      defer
    ></script>
  </head>
  <body>
    <div id="map" style="height: 400px"></div>
    <script type="text/javascript">
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            center:{lat: -25.363, lng: 131.044},
            zoom: 4,
          })

        let array ={{ locations | safe }}
        console.log(array)
        var positions = array.map(location=>{
            return {lat:location.lati, lng: location.longi}
          })
        console.log(positions)

        positions.forEach(position =>{
        new google.maps.Marker({
            position: position,
            map,
            title:"Marker"
        })
      })




      }
      



    </script>
  </body>



{% endblock %}