
:root {
    --gray-darker: #444444;
    --gray-dark: #696969;
    --gray: #999999;
    --gray-light: #cccccc;
    --gray-lighter: #ececec;
    --gray-lightest: #f0f0f0; 
  }
  
  *,
  *::before,
  *::after { 
    box-sizing: border-box;
  }
  
  html {
    background-color: var(--gray-lightest);
  }
  
  body {
    color: var(--gray);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    background-color: white;
    border: 1px solid var(--gray-light);
    color: var(--gray-dark);
    padding: 0.5rem;
    text-transform: lowercase;
  }
  
  .btn--block {
    display: block;
    width: 100%;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    width:100%;
  }
  
  @media(min-width: 40rem) {
    .cards__item {
      width: 50%;
    }
  }
  
  @media(min-width: 56rem) {
    .cards__item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card:hover .card__image {
    filter: contrast(100%);
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  }
  
  .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%; /
  }
  
  @media(min-width: 40rem) {
    .card__image::before {
      padding-top: 66.6%; 
    }
  }
  
  .card__title {
    color: var(--gray-dark);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  