{% extends 'project_content/base.html' %}

{% block content %}

<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Geocoding template for {{location.name}} ({{label}})</div> 
        
    </div>


    <div class="linkholder">
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                       
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{location.id}} </td>
                        <td> {{location.name}} </td>
                        <td> {{location.address}} </td>
                        <td> {{location.zipcode}} </td>
                        <td> {{location.city}} </td>
                        <td> {{location.country}} </td>
                        

                        
                       
                    </tr>

                </tbody>

                
            </table>
     </div>
     <div class="linkholder">
     
    
    
    </div>
    {{ result }}

</div>

{% endblock %}