{% extends 'base.html' %}
{% block content %}


    <h1>Locations List</h1>
    <ul class="cards">
   
        {% for location in locations %}
        <li class="cards__item">
            <div class="card">
               

                <div class="card__image card__image--fence" style="background-image: url('{{ location.image_url }}');"></div>
                <div class="card__content">
                    <div class="card__title">{{ location.name }}</div>
                    
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
